extends layouts/_default
block content

	//- Header
	header#page-top
		.container
		
			.row
				.col-sm-6.visible-lg
					video#video(autoplay)
						source(src='https://events.google.com/io2016/videos/hashtag-800.mp4', type='video/mp4')
				.col-lg-6.col-sm-12
					.intro-text
						h2 Transmissão ao vivo onde quer que você esteja
						span acompanhe todo o evento em tempo real
						br
						br
						a.btn.btn-default(href='https://docs.google.com/forms/d/1_Il6fVbcf_PrRt6EtLXB4zZ0ZnJI_QgL4AQWpoAB_I8/edit?usp=sharing_eid&ts=5732341b') Quero Participar
	
	section#hastag
		.container
			.row
				.col-xs-12
					img.img-responsive(src='images/hashtag.png')
					a.btn.btn-default(href='https://docs.google.com/forms/d/1_Il6fVbcf_PrRt6EtLXB4zZ0ZnJI_QgL4AQWpoAB_I8/edit?usp=sharing_eid&ts=5732341b') Quero Participar
	
	section#about
		.container
			.row
				.col-lg-6
					h2 O que é o GDG
					br
					p  Grupo Google Developers (GDG) - é um grupo aberto e voluntário da comunidade geek que criar projetos empolgantes e quer partilhar com uma paixão as experiências sobre tecnologias do Google

				.col-lg-6
					h2 Google I/O extended
					br
					p O Google I/O é um evento que acontece anualmente em São Francisco com palestras inspiradoras e aprendizado mão na massa, em que os participantes têm a chance de ficar sabendo, em primeira mão, dos mais novos produtos e tecnologias desenvolvidos pela Google. Está em sua 8° conferência para desenvolvedores, e pela segunda vez, o Google I/O Extended acontecerá em Fortaleza.

	
	section#schedule
		.container
			.row
				.col-sm-12
					h2 Agenda
					br
			each item in schedule
				.row
					.col-sm-1.hidden-xs.time
							span #{item.start} <br> ate <br> #{item.ends}
					.col-sm-9
						.presentation-desc
							h3= item.title
							.visible-xs
								span #{item.start} ate #{item.ends}
							.sub
								p= item.desciption
								a(href='')= item.author
					.col-sm-1.col-sm-offset-1.hidden-xs
						a(href='#{item.social}', target='_blank')
							if item.avatar
								img.img-responsive.avatar(src='#{item.avatar}' alt='avatar #{item.author}')
				hr

		
		
	section#localization
		#maplayer.maplayer
		.content-wrapper
			.col-lg-3.col-md-4.col-sm-6.col-md-offset-1.text-left.card.loc-bx
				.pull-left
					h2 Localização
					ul.list-unstyled
						li
							h4 #{info.localization.addres}
							strong= info.date
						li
							time <strong> 9:00 - 17:00 </strong>
						
						li
							a.btn.btn-default(href='https://www.google.com/maps/dir/#{info.localization.lat},#{info.localization.lng}/@#{info.localization.lat},#{info.localization.lng},18z') Como Chegar


	section#organization
		.container
			.row
				.col-lg-12
					h2 Organização
					br
					
			.row
				.col-sm-4.col-sm-offset-4
					.card
						a(href='#{organization.site}', target='_blank')
							img.img-responsive.friend-logo(src='#{organization.logo}', alt='Google Developers')
				

	section#sponsors
		.container
			.row
				.col-lg-12
					h2 Patrocinadores
					br
					
			.row
			each sponsor in sponsors
				.col-sm-6
					.card
						a(href='#{sponsor.site}', target='_blank')
							img.img-responsive.friend-logo(src='#{sponsor.logo}', alt='Google Developers')
